@model List<Customer>


<div class="container-fluid">
    <div class="card px-0 pb-0 mb-3">
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active" id="account"><strong>Müşteri Seç</strong></li>
                <li id="personal"><strong>Ürünleri Seç</strong></li>
                <li id="payment"><strong>Ön İzleme</strong></li>
                <li id="confirm"><strong>Gönderildi</strong></li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <br> <!-- fieldsets -->

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Müşteriler:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 1 - 4</h2>
                        </div>
                    </div>
                    <label for="customers" class="fieldlabels">Müşteri Seçin:</label>
                    <select id="customers" onchange="getContactPersonList()">
                        <option>Seçiniz</option>
                        @foreach (var customer in Model)
                        {
                            <option value="@customer.Id">@customer.Name</option>
                        }
                    </select>
                    <div id="contactPersonList">
                        <label for="contactPersons" class="fieldlabels">Yetkiliyi Seçin:</label>
                        <select id="contactPersons">
                            <option>Seçiniz</option>
                        </select>
                    </div>

                </div>

                <input type="button" name="next" class="next action-button" onclick="GoNext(1)" value="İLERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-4">
                            <h2 class="fs-title">Ürünler:</h2>
                        </div>
                        <div class="col-4">
                            <label for="categoryId" class="fieldlabels">Kategori Seçin:</label>
                            <select id="categoryId" onchange="getCategories()">
                                <option>Seçiniz</option>
                                @foreach (var category in (List<Category>)ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-4">
                            <h2 class="steps">Adım 2 - 4</h2>
                        </div>
                    </div>

                    <table class="table-fill">
                        <thead>
                            <tr>
                                <th class="text-center">Ürün Kategorisi</th>
                                <th class="text-center">Ürün Adı</th>
                                <th class="text-center">Ürün Kodu</th>
                                <th class="text-center">Ürün Fiyatı</th>
                                <th class="text-center">Ürün Fotoğrafı</th>
                                <th class="text-center">Ürün Stok Adedi</th>
                                <th class="text-center">Eklenecek Adet</th>
                                <th class="text-center">İskonto</th>
                                <th class="text-center">Ürün Seç/Kaldır</th>
                            </tr>
                        </thead>
                        <tbody class="table-hover" id="productList">
                           
                        </tbody>
                    </table>

                </div>

                <input type="button" name="next" class="next action-button" value="İLERİ" />
                <input type="button" name="previous" class="previous action-button-previous" value="GERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Ön İzleme:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 3 - 4</h2>
                        </div>
                    </div>

                    <div class="container mt-5">
                        <div class="d-flex" style="justify-content: space-between;">
                            <div class="span4">
                                <img src="Content/images/logo/logo.png" class="mb-4">
                                <address>
                                    <strong>DEFNE BANYO LTD. ŞTİ.</strong><br>
                                    <p class="mt-4">
                                        Esenkent, Muhterem Sk No:56, 34776<br> Dudullu Osb/Ümraniye/İstanbul, Türkiye
                                    </p>
                                </address>
                            </div>
                            <div class="span4 well">
                                <div class="fatura-baslik">
                                    ÖNİZLEME
                                </div>
                                <div class="fatura-no mt-4">
                                    <strong>Teklif No:</strong> 2202
                                </div>
                                <div class="tarih mt-4">
                                    <strong>Teklif Tarih:</strong> 22.02.20
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="musteri-bilgi">
                            <h5 class="musterifir">
                                Örnek Firma
                            </h5>
                            <Strong>Sayın</Strong>
                            <p>Ebru Yılmaz</p>
                            <p class="adres">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quia magni aliquid unde
                                nostrum minus.
                            </p>
                            <div class="v-daire">
                                <strong>Vergi Dairesi</strong><br>
                                Gebze
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="span8 well invoice-body">
                                <br>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Ürün Adı</th>
                                            <th>Ürün Kodu</th>
                                            <th>Ürün Adeti</th>
                                            <th>KDV</th>
                                            <th>Ürün Fiyatı</th>
                                            <th>İskonto</th>
                                            <th>İskontolu Fiyatı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: bold;">Demir Çelik</td>
                                            <td>56421</td>
                                            <td>3</td>
                                            <td>%20</td>
                                            <td>500₺</td>
                                            <td>%10</td>
                                            <td>400₺</td>
                                        </tr>

                                        <tr>
                                            <td colspan="5">&nbsp;</td>
                                            <td><strong>Toplam Fiyat</strong></td>
                                            <td><strong>7,500.00₺</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">&nbsp;</td>
                                            <td><strong>İskontolu Fiyat</strong></td>
                                            <td><strong>6,750.00₺</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">&nbsp;</td>
                                            <td><strong>Toplam KDV</strong></td>
                                            <td><strong>1,350.00₺</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">&nbsp;</td>
                                            <td><strong>Genel Toplam</strong></td>
                                            <td><strong>8,100.00₺</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="fatura-not">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos saepe nobis libero harum nesciunt
                            commodi.
                        </div>
                    </div>

                </div>

                <input type="button" name="next" class="next action-button" value="GÖNDER" />
                <input type="button" name="previous" class="previous action-button-previous" value="GERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Tamamlandı:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 4 - 4</h2>
                        </div>
                    </div> <br><br>

                    <h2 class="purple-text text-center"><strong>GÖNDERİLDİ!</strong></h2> <br>
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <i class="fas fa-check"></i>
                        </div>
                    </div> <br><br>

                    <div class="row justify-content-center">
                        <div class="col-7 text-center">
                            <h5 class="purple-text text-center">TEKLİFİNİZ BAŞARIYLA İLETİLDİ!</h5>
                        </div>
                    </div>

                </div>

            </fieldset>

        </form>
    </div>
</div>


<script>
    //Müşterilerin İletişim kişilerini getirme
    function getContactPersonList() {
        let customerId = $("#customers").val();
        $.ajax({
            type: "GET",
            url: "/Offer/ContactPersons?id=" + customerId,
            success: function (data) {
                $("#contactPersonList").html(data);
            }
        });
    }
</script>

<script>
    function getCategories() {
        let categoryId = $("#categoryId").val();
        $.ajax({
            type: "GET",
            url: "/Offer/GetProducts?id=" + categoryId,
            success: function(result){
                $("#productList").html(result);
            }
        });
    }


    
</script>

<script>
    function GoNext(a) {
        if (a == 1) {
            $("fieldset").hide();
            $("fieldset")[a].style.display = "block";
            
        }
    }
</script>