@model List<Customer>
@{
    int page = 0;
}

<div class="container-fluid">
    <div class="card px-0 pb-0 mb-3">
        <div id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active" id="account"><strong>Müşteri Seç</strong></li>
                <li id="personal"><strong>Ürünleri Seç</strong></li>
                <li id="payment"><strong>Ön İzleme</strong></li>
                <li id="confirm"><strong>Gönderildi</strong></li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <!-- fieldsets -->

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7 mt-3">
                            <h2 class="fs-title">Müşteriler:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 1 - 4</h2>
                        </div>
                    </div>
                    <label for="customerId" class="fieldlabels">Müşteri Seçin:</label>
                    <select id="customerId" onchange="getContactPersonList()">
                        <option>Seçiniz</option>
                        @foreach (var customer in Model)
                        {
                            <option value="@customer.Id">@customer.Name</option>
                        }
                    </select>
                    <div id="contactPersonList">
                        <label for="contactPersons" class="fieldlabels">Yetkiliyi Seçin:</label>
                        <select id="contactPersons">
                            <option>Seçiniz</option>
                            @* PartialView ContackPerson *@
                        </select>
                    </div>
                </div>

                <input type="button" id="customerSelected" name="next" class="next action-button" value="İLERİ" disabled />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-4 mt-3">
                            <h2 class="fs-title">Ürünler:</h2>
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <h2 class="steps">Adım 2 - 4</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <input name="search" id="searchVal" class="form-control mb-2" type="search" placeholder="Enter search word" aria-label="Search" onkeyup="search()">
                        </div>
                        <div class="col-8">
                            <label for="categoryId" class="fieldlabels">Kategori Seçin:</label>
                            <select id="categoryId" c onchange="getCategories()">
                                <option>Seçiniz</option>
                                @foreach (var category in (List<Category>)ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <table class="table-fill">
                                <thead>
                                    <tr>
                                        <th class="text-center">Kategori</th>
                                        <th class="text-center">Ürün Adı</th>
                                        <th class="text-center">Kod</th>
                                        <th class="text-center">Fiyat</th>
                                        <th class="text-center">Fotoğraf</th>
                                        <th class="text-center">Stok</th>
                                        <th class="text-center">İskonto</th>
                                        <th class="text-center">Ekle</th>
                                    </tr>
                                </thead>
                                <tbody class="table-hover" id="productList">
                                    @* PartialView - GetProducts *@
                                    @*PartialView - SearchProduct*@
                                </tbody>
                            </table>
                        </div>
                        <div class="col-4">
                            <form asp-controller="Offer" asp-action="OfferPreview" method="post" id="seletectedProductsForm">
                                <div id="selectedProducts">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <input type="button" id="selectedProductButton" name="next" class="next action-button" value="İLERİ" onclick="sendSelectedProducts()" disabled />
                <input type="button" name="previous" class="previous action-button-previous" value="GERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7 mt-3">
                            <h2 class="fs-title">Ön İzleme:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 3 - 4</h2>
                        </div>
                    </div>
                    <form asp-controller="Offer" asp-action="SendMail" method="post" id="sendMailForm" enctype="multipart/form-data">
                        <div class="container mt-5" id="productPreview">
                        </div>
                    </form>

                </div>

                <input type="button" name="next" class="next action-button" value="GÖNDER" onclick="captureDivToPdfAndPost()" />
                <button onclick="demoFromHTML()">PDF Oluştur</button>
                <input type="button" name="previous" class="previous action-button-previous" value="GERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7 mt-3">
                            <h2 class="fs-title">Tamamlandı:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 4 - 4</h2>
                        </div>
                    </div> <br><br>

                    <h2 class="purple-text text-center"><strong>GÖNDERİLDİ!</strong></h2> <br>
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <i class="fas fa-check"></i>
                        </div>
                    </div> <br><br>
                    <div class="row justify-content-center">
                        <div class="col-7 text-center">
                            <h5 class="purple-text text-center">TEKLİFİNİZ BAŞARIYLA İLETİLDİ!</h5>
                        </div>
                    </div>
                </div>

            </fieldset>

        </div>
    </div>
</div>

<script>
    function demoFromHTML() {

        //const content = document.getElementById("productPreview");
        //const canvas = document.createElement("canvas");
        //const context = canvas.getContext("2d");

        //// Canvas boyutlarını ayarlayın (isteğe bağlı)
        //canvas.width = 800;
        //canvas.height = 600;

        //// HTML içeriğini canvas'a çizin
        //html2canvas(content).then((canvas) => {
        //    // Canvas'tan PDF oluşturun
        //    const pdf = new jsPDF("p", "mm", "a4");
        //    pdf.addImage(canvas.toDataURL("image/png"), "PNG", 0, 0, 210, 297); // A4 boyutunda bir PDF olarak ayarlayabilirsiniz
        //    pdf.save("urunler.pdf");
        //});

        var pdf = new jsPDF('p', 'pt', 'letter');
        // 'A4' belge türü ve 'landscape' yönlendirme

        source = $('#productPreview')[0];

        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true;
            }
        };
        margins = {
            top: 20,
            bottom: 20,
            left: 20,
            width: 270 // A4 boyutuna uygun genişlik (landscape için genişlik daha fazla)
        };

        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
            'width': margins.width, // max width of content on PDF
            'elementHandlers': specialElementHandlers
        },
            function (dispose) {
                pdf.save('Test.pdf');
            }, margins
        );
    }
</script>

@*Arama*@
<script>
    function search() {
        let searchVal = $('#searchVal').val();
        let selectedCustomerId = $('#customerId').val();

        console.log(searchVal);
        $.ajax({
            url: '/Offer/Search?customerId=' + selectedCustomerId,
            type: 'GET',
            data: { searchWord: searchVal },
            success: function (result) {
                $("#productList").html(result);
                let list = $('.temp');
                for (let i = 0; i < list.length; i++) {
                    let id = list[i].value;
                    if (document.getElementById('selectedDiv' + id) != undefined) {
                        $("#seletedItem" + id)[0].checked = true;
                    }
                }
            }
        });

    }
</script>

@*Mail Gönderme*@
<script>
    function captureDivToPdfAndPost() {

        let selectedCustomerId = $('#customerId').val();
        let offerNumber = $('#offerNumber').text();
        let selectedContactPersons = $("#contactPersons").val();

        // Div'i yakalayın
        var divToCapture = document.getElementById('productPreview');

        // Div'i bir canvas'a dönüştürün
        html2canvas(divToCapture).then(function (canvas) {
            // Canvas'tan bir veri URL'si alın
            var dataUrl = canvas.toDataURL();

            // Veri URL'sini bir Blob'a dönüştürün
            var blob = dataURLToBlob(dataUrl);

            // Blob'u bir dosya olarak tanımlayın
            var file = new File([blob], 'preview.png', { type: 'application/png' });

            // FormData nesnesini oluşturun
            var formData = new FormData();

            // PDF dosyasını FormData'ya ekleyin
            formData.append('pdfFile', file);

            // customerId'yi de FormData'ya ekleyin
            //formData.append('customerId', selectedCustomerId);

            // POST isteğini oluşturun
            var xhr = new XMLHttpRequest();
            //xhr.open('POST', '/Offer/SendMail?CustomerId=' + selectedCustomerId + "&OrderNumber=" + orderNumber, true);
            xhr.open('POST', `/Offer/SendMail?CustomerId=${selectedCustomerId}&OfferNumber=${offerNumber}&ContactPersonId=${selectedContactPersons}`, true);

            // İsteği gönderin
            xhr.send(formData);
        });
    }

    function dataURLToBlob(dataUrl) {
        var arr = dataUrl.split(','),
            mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]),
            n = bstr.length,
            u8arr = new Uint8Array(n);

        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }

        return new Blob([u8arr], { type: mime });
    }

</script>


@*Müşterilerin İletişim kişilerini getirme*@
<script>

    function getContactPersonList() {
        let customerId = $("#customerId").val();
        let customerSelectedButton = document.getElementById("customerSelected");
        $.ajax({
            type: "GET",
            url: "/Offer/ContactPersons?id=" + customerId,
            success: function (data) {
                $("#contactPersonList").html(data);
            }
        });
        if (customerId !== "Seçiniz") {
            customerSelectedButton.disabled = false;
        } else {
            customerSelectedButton.disabled = true;
            alert('Lütfen bir Müsteri Seçiniz!');
        }
    }
</script>

@*Seçilen kategoriye göre gelecek ürünler*@
<script>
    function getCategories() {
        let categoryId = $("#categoryId").val();
        let selectedCustomerId = $('#customerId').val();

        $.ajax({
            type: "GET",
            url: "/Offer/GetProducts?categoryId=" + categoryId,
            data: {
                customerId: selectedCustomerId,
            },
            success: function (result) {
                $("#productList").html(result);
                let list = $('.temp');
                for (let i = 0; i < list.length; i++) {
                    let id = list[i].value;
                    if (document.getElementById('selectedDiv' + id) != undefined) {
                        $("#seletedItem" + id)[0].checked = true;
                    }
                }
            }
        });
    }
</script>

@*Ürün seçme*@
<script>
    let selectedProductButton = document.getElementById('selectedProductButton');
    let selectedProducts = document.getElementById('selectedProducts');
    let mb4Divs;

    function isSelected(id) {
        let checkBox = document.getElementById('seletedItem' + id);

        if (checkBox.checked) {
            let categoryName = $('.seletedItem' + id)[0].innerText;
            let productName = $('.seletedItem' + id)[1].innerText;
            let productDiscount = $('.seletedItem' + id)[2].innerText;
            let selectedCustomerId = $('#customerId').val();
            let selectedContactPersons = $("#contactPersons").val();

            var productHtml = `
                                                                                                                                        <div class=" mb-4 selectedDiv" id="selectedDiv${id}">
                                                                                                                                            <input type="hidden" value="${id}" name="Id" />
                                                                                                                                            <input type="hidden" value="${selectedCustomerId}" name="CustomerId" />
                                                                                                                                            <input type="hidden" value="${selectedContactPersons}" name="ContactPersonId" />
                                                                                                                                            <div class="form-row row">
                                                                                                                                                <div class="form-group col-lg-5 col-md-5 col-12">
                                                                                                                                                    <label >Ürün Kategori</label>
                                                                                                                                                    <label class="selectedDivItem${id}">${categoryName}</label>
                                                                                                                                                </div>
                                                                                                                                                <div class="form-group col-lg-5 col-md-5 col-12">
                                                                                                                                                    <label >Ürün Adı</label>
                                                                                                                                                    <label class="selectedDivItem${id}">${productName}</label>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            <div class="form-row row">
                                                                                                                                                <div class="form-group col-lg-5 col-md-5 col-12">
                                                                                                                                                    <label for="inputName">Adet</label>
                                                                                                                                                    <input type="number" id="Amount" class="form-control amounts" name="Amount" placeholder="Adet" />
                                                                                                                                                </div>
                                                                                                                                                <div class="form-group col-lg-5 col-md-5 col-12">
                                                                                                                                                    <label>İskonto</label>
                                                                                                                                                    <input type="text" id="Discount" class="form-control" name="Discount" placeholder="İskonto" value="${productDiscount}" />
                                                                                                                                                </div>
                                                                                                                                                <div class="form-group col-lg-1 col-md-1 col-12">
                                                                                                                                                    <button class=" btn btn-danger  remove-contact" onclick="removeDiv(${id})" >Sil</button>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        <hr />
                                                                                                                                        </div>
                                                                                                                                            `;
            //document.getElementById('selectedProducts').innerHTML += productHtml; // bu yöntem ile yapıldığında her ürün eklemede içerikler sıfırlanıyor!
            selectedProducts.insertAdjacentHTML('beforeend', productHtml);

            selectedProductButton.disabled = false;

            var ctrl = 1;

        }
        else {
            document.getElementById('selectedDiv' + id).remove();
            mb4Divs = selectedProducts.querySelectorAll(".mb-4");

            if (mb4Divs.length > 0) {

                selectedProductButton.disabled = false;
            } else {

                selectedProductButton.disabled = true;

            }
        }
    }

</script>

@*Önizlme*@
<script>
    function sendSelectedProducts() {


        let formData = new FormData(document.querySelector('#seletectedProductsForm')); // Form verilerini al

        $.ajax({
            url: '/Offer/OfferPreview', // İstek gönderilecek URL
            type: 'POST', // HTTP metodunu belirle
            data: formData, // Form verilerini ile
            processData: false,
            contentType: false,
            success: function (response) {
                // Başarılı yanıt geldiğinde burada işlemler yapabilirsiniz
                $('#productPreview').html(response);
            },
            error: function (error) {
                // Hata durumunda burada işlemler yapabilirsiniz
                console.error('Hata:', error);
            }
        });
    }




</script>

@*Seçilen ürünü kaldırma*@
<script>
    function removeDiv(id) {
        document.getElementById('selectedDiv' + id).remove();
        document.getElementById('seletedItem' + id).checked = false;
    }
</script>


@*İleri ve Geri Butonlarının aktivasyonu*@
<script>
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;
        var page = 0;
       
        setProgressBar(current);

        $(".next").click(function () {
            var ctrl = 1;
            if (page.valueOf() == 1) {
                var amounts = document.querySelectorAll(".amounts");
                amounts.forEach(function (currentValue) {
                    var elem = currentValue.value;
                    if (elem == "") {
                        ctrl = 0;
                    }
                });
            }
         
            if (ctrl == 0) {
                Swal.fire('Adet alanları zorunludur!')
            } else {
                current_fs = $(this).parent();
                next_fs = $(this).parent().next();
                page = page + 1;
                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(++current);
            }
        });

        $(".previous").click(function () {
            page = page - 1;
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });
</script>
