@model List<Customer>

<div class="container-fluid">
    <div class="card px-0 pb-0 mb-3">
        <div id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active" id="account"><strong>Müşteri Seç</strong></li>
                <li id="personal"><strong>Ürünleri Seç</strong></li>
                <li id="payment"><strong>Ön İzleme</strong></li>
                <li id="confirm"><strong>Gönderildi</strong></li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <!-- fieldsets -->

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Müşteriler:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 1 - 4</h2>
                        </div>
                    </div>
                    <label for="customerId" class="fieldlabels">Müşteri Seçin:</label>
                    <select id="customerId" onchange="getContactPersonList()">
                        <option>Seçiniz</option>
                        @foreach (var customer in Model)
                        {
                            <option value="@customer.Id">@customer.Name</option>
                        }
                    </select>
                    <div id="contactPersonList">
                        <label for="contactPersons" class="fieldlabels">Yetkiliyi Seçin:</label>
                        <select id="contactPersons">
                            <option>Seçiniz</option>
                            @* PartialView ContackPerson *@
                        </select>
                    </div>
                </div>

                <input type="button" name="next" class="next action-button" value="İLERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-4">
                            <h2 class="fs-title">Ürünler:</h2>
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <h2 class="steps">Adım 2 - 4</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label for="categoryId" class="fieldlabels">Kategori Seçin:</label>
                            <select id="categoryId" onchange="getCategories()">
                                <option>Seçiniz</option>
                                @foreach (var category in (List<Category>)ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <table class="table-fill">
                                <thead>
                                    <tr>
                                        <th class="text-center">Kategori</th>
                                        <th class="text-center">Ürün Adı</th>
                                        <th class="text-center">Kod</th>
                                        <th class="text-center">Fiyat</th>
                                        <th class="text-center">Fotoğraf</th>
                                        <th class="text-center">Stok</th>
                                        <th class="text-center">İskonto</th>
                                        <th class="text-center">Ekle</th>
                                    </tr>
                                </thead>
                                <tbody class="table-hover" id="productList">
                                    @* PartialView - GetProducts *@
                                </tbody>
                            </table>
                        </div>
                        <div class="col-4">
                            <form asp-controller="Offer" asp-action="OfferPreview" method="post" id="seletectedProductsForm">
                                <div id="selectedProducts">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <input type="button" id="nextButton" name="next" class="next action-button" value="İLERİ" onclick="sendSelectedProducts()" />
                <input type="button" name="previous" class="previous action-button-previous" value="GERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Ön İzleme:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 3 - 4</h2>
                        </div>
                    </div>
                    <form asp-controller="Offer" asp-action="SendMail" method="post" id="sendMailForm">
                        <div class="container mt-5" id="productPreview">
                        </div>
                    </form>

                </div>

                <input type="button" name="next" class="next action-button" value="GÖNDER" onclick="captureDivToPdfAndPost()" />
                <input type="button" name="previous" class="previous action-button-previous" value="GERİ" />

            </fieldset>

            <fieldset>
                <div class="form-card">

                    <div class="row">
                        <div class="col-7">
                            <h2 class="fs-title">Tamamlandı:</h2>
                        </div>
                        <div class="col-5">
                            <h2 class="steps">Adım 4 - 4</h2>
                        </div>
                    </div> <br><br>

                    <h2 class="purple-text text-center"><strong>GÖNDERİLDİ!</strong></h2> <br>
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <i class="fas fa-check"></i>
                        </div>
                    </div> <br><br>
                    <div class="row justify-content-center">
                        <div class="col-7 text-center">
                            <h5 class="purple-text text-center">TEKLİFİNİZ BAŞARIYLA İLETİLDİ!</h5>
                        </div>
                    </div>
                </div>

            </fieldset>

        </div>
    </div>
</div>

<script>
    function captureDivToPdfAndPost() {
        // Belirli div'i seçin
        var divToCapture = document.getElementById("productPreview");

        // jsPDF nesnesi oluşturun
        var pdf = new jsPDF();

        // div içeriğini PDF'e dönüştürün
        pdf.fromHTML(divToCapture, 15, 15);

        // PDF'i veri URL'sine dönüştürün
        var pdfData = pdf.output('datauristring');

        // PDF'i sunucuya POST edin
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Offer/SendMail', true);
        xhr.setRequestHeader('Content-Type', 'application/pdf');
        xhr.send(pdfData);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/ControllerName/ReceiveAndEmailPdf', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        var pdfData = 'pdfData=' + encodeURIComponent(pdf.output('datauristring'));
        xhr.send(pdfData);
    }
</script>


@*Müşterilerin İletişim kişilerini getirme*@
<script>

    function getContactPersonList() {
        let customerId = $("#customerId").val();
        $.ajax({
            type: "GET",
            url: "/Offer/ContactPersons?id=" + customerId,
            success: function (data) {
                $("#contactPersonList").html(data);
            }
        });
    }
</script>

@*Seçilen kategoriye göre gelecek ürünler*@
<script>
    function getCategories() {
        let categoryId = $("#categoryId").val();
        let selectedCustomerId = $('#customerId').val();

        $.ajax({
            type: "GET",
            url: "/Offer/GetProducts?id=" + categoryId,
            data: {
                customerId: selectedCustomerId,
            },
            success: function (result) {
                $("#productList").html(result);
                let list = $('.temp');
                for (let i = 0; i < list.length; i++) {
                    let id = list[i].value;
                    if (document.getElementById('selectedDiv' + id) != undefined) {
                        $("#seletedItem" + id)[0].checked = true;
                    }
                }
            }
        });
    }
</script>

@*Ürün seçme*@
<script>
    function isSelected(id) {
        let checkBox = document.getElementById('seletedItem' + id);
        if (checkBox.checked) {
            let categoryName = $('.seletedItem' + id)[0].innerText;
            let productName = $('.seletedItem' + id)[1].innerText;
            let productDiscount = $('.seletedItem' + id)[2].innerText;
            let selectedCustomerId = $('#customerId').val();
            let categoryId = $("#categoryId").val();


            var productHtml = `
                            <div class=" mb-4 selectedDiv" id="selectedDiv${id}">
                                <input type="hidden" value="${id}" name="Id" />
                                <input type="hidden" value="${selectedCustomerId}" name="CustomerId" />
                                <input type="hidden" value="${categoryId}" name="CategoryId" />
                                <div class="form-row row">
                                    <div class="form-group col-lg-5 col-md-5 col-12">
                                        <label >Ürün Kategori</label>
                                        <label class="selectedDivItem${id}">${categoryName}</label>
                                    </div>
                                    <div class="form-group col-lg-5 col-md-5 col-12">
                                        <label >Ürün Adı</label>
                                        <label class="selectedDivItem${id}">${productName}</label>
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="form-group col-lg-5 col-md-5 col-12">
                                        <label for="inputName">Adet</label>
                                        <input type="number" id="Amount" class="form-control" name="Amount" placeholder="Adet" required />
                                    </div>
                                    <div class="form-group col-lg-5 col-md-5 col-12">
                                        <label>İskonto</label>
                                        <input type="text" id="Discount" class="form-control" name="Discount" placeholder="İskonto" value="${productDiscount}" required />
                                    </div>
                                    <div class="form-group col-lg-1 col-md-1 col-12">
                                        <button class=" btn btn-danger  remove-contact" onclick="removeDiv(${id})" >Sil</button>
                                    </div>
                                </div>
                            <hr />
                            </div>
                            `;
            document.getElementById('selectedProducts').innerHTML += productHtml;

        }
        else {
            document.getElementById('selectedDiv' + id).remove();
        }
    }
</script>

@*Önizlme*@
<script>
    function sendSelectedProducts() {
        var formData = new FormData(document.querySelector('#seletectedProductsForm')); // Form verilerini al

        $.ajax({
            url: '/Offer/OfferPreview', // İstek gönderilecek URL
            type: 'POST', // HTTP metodunu belirle
            data: formData, // Form verilerini ile
            processData: false,
            contentType: false,
            success: function (response) {
                // Başarılı yanıt geldiğinde burada işlemler yapabilirsiniz
                $('#productPreview').html(response);
            },
            error: function (error) {
                // Hata durumunda burada işlemler yapabilirsiniz
                console.error('Hata:', error);
            }
        });
    }

</script>

@*Mail Gönderme*@
<script>
    function sendMail() {
        var formMail = new FormData(document.querySelector('#sendMailForm'));

        $.ajax({
            url: '/Offer/SendMail',
            type:'POST',
            data:formMail,
            processData: false,
            contentType: false,
            success: function (response) {
                // Başarılı yanıt geldiğinde burada işlemler yapabilirsiniz
            },
            error: function (error) {
                // Hata durumunda burada işlemler yapabilirsiniz
                console.error('Hata:', error);
            }
        })
    }
</script>

@*Seçilen ürünü kaldırma*@
<script>
    function removeDiv(id) {
        alert(id)
        document.getElementById('selectedDiv' + id).remove();
        document.getElementById('seletedItem' + id).checked = false;
    }
</script>


@*İleri ve Geri Butonlarının aktivasyonu*@
<script>
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });
</script>