

<div class="row" style="margin: 2% 6%;">
    <div class="col-lg-7 col-md-7 col-12">
        <div class="table-title">
            <h3>Teklifler</h3>
        </div>
    </div>

    <div class="col-lg-5 col-md-5 col-12 ekleme">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Arama Yapın">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

</div>


<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Göderilen Firma Adı</th>
            <th class="text-left">Gönderici</th>
            <th class="text-left">Tarih</th>
            <th class="text-left">Durum</th>
            <th class="text-left">Görüntüle</th>
            <th class="text-left">Yazdır</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr>
            <td class="text-left">Demir Çelik</td>
            <td class="text-left">Emir Çiçek</td>
            <td class="text-left">22.02.20</td>
            <td class="text-left"><i class="fas fa-check-double" title="Görüldü"></i></td>
            <td class="text-left">
                <a href="onizleme.html">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
            <td class="text-left">
                <a href="onizleme.html">
                    <i class="fas fa-print"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-left">Demir Çelik</td>
            <td class="text-left">Emir Çiçek</td>
            <td class="text-left">22.02.20</td>
            <td class="text-left"><i class="fas fa-check" title="Gönderildi"></i></td>

            <td class="text-left">
                <a href="onizleme.html">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
            <td class="text-left">
                <a href="onizleme.html">
                    <i class="fas fa-print"></i>
                </a>
            </td>

        </tr>
        <tr>
            <td class="text-left">Demir Çelik</td>
            <td class="text-left">Emir Çiçek</td>
            <td class="text-left">22.02.20</td>
            <td class="text-left"><a href="#"><i class="fas fa-sync-alt" title="Tekrar Gönder"></i></a></td>
            <td class="text-left">
                <a href="onizleme.html">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
            <td class="text-left">
                <a href="onizleme.html">
                    <i class="fas fa-print"></i>
                </a>
            </td>
        </tr>

    </tbody>
</table>