<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Abstract" content="" />
    <meta name="Author" content="" />
    <title>TTR BİLİŞİM</title>
    <!--Kelimeler Max. 5 Kelime -->
    <script src="~/js/checkInput.js"></script>
    <meta name="keywords" content="" />

    <!-- Sayfa Açıklaması Max. 115 Karakter -->
    <meta name="description" content="" />
    <meta property="og:description" content="" />
    <meta itemprop="description" content="" />
    <meta name="twitter:description" content="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
    @await Html.PartialAsync("_Links")
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <partial name="_SolMenu" />
        <div id="content">
            <!-- Page Content  -->
            <partial name="_NavBar" />

            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>

    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>