@model UserModel

<div class="container musteri">
    <form asp-controller="Admin" asp-action="UserCreate" method="post">
        <div class="form-row row">
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label>Kullanıcı Adı</label>
                <input type="text" class="form-control" placeholder="Kullanıcı Adı" asp-for="FirstName">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label>Kullanıcı Soyadı</label>
                <input type="text" class="form-control" placeholder="Kullanıcı Soyadı" asp-for="LastName">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label>Kullanıcı Şifre</label>
                <input type="password" class="form-control" placeholder="Şifre" asp-for="Password">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label>Şifreyi Tekrar Girin</label>
                <input type="password" class="form-control" placeholder="Şifre Tekrarı" asp-for="RePassword">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label>Kullanıcı Email</label>
                <input type="email" class="form-control" placeholder="E-mail" asp-for="Email">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Kullanıcıyı Ekle</button>
        </div>
    </form>
</div>