
<div class="container musteri">
    <form>
        <div class="form-row row">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Ürünün Kategorisini Seç</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Kategori 1</option>
                    <option>Kategori 2</option>
                    <option>Kategori 3</option>
                    <option>Kategori 4</option>
                    <option>Kategori 5</option>
                </select>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputName">Ürün Adı</label>
                <input type="text" class="form-control" id="inputName" placeholder="Ad" value="Demir">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputPTel">Ürün Kodu</label>
                <input type="number" class="form-control" id="inputTel" placeholder="Kod" value="32546">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddress">Ürün Fotoğrafı</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Fotoğraf">
        </div>

        <div class="form-row row">
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputName">Ürün Alış Fiyatı</label>
                <input type="number" class="form-control" id="inputvergino" placeholder="Alış Fiyatı" value="200">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputPTel">Ürün Satış Fiyatı</label>
                <input type="number" class="form-control" id="inputvergidaire" placeholder="Satış Fiyatı" value="400">
            </div>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Ürün Açıklaması</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Ürünü Güncelle</button>
    </form>
</div>